# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebooks
.ipynb_checkpoints/

# Virtual Environments
venv/
.venv/
env/
.conda/

# IDEs
.vscode/
.idea/

# System
.DS_Store
Thumbs.db

# Logs
*.log
